#Mission{
    margin: 100px 00px 00px 100px ;
}
#Mission>p>span{
    font-weight: 700;
    color: #252634;
    font-size: 14px;

}
#Mission>p{
    color: #8A8C98;
}
#Mission-2>div>h1>i{
    text-transform: uppercase;
    font-size: 14px;
    color: #8A8C98;

}
#Mission-2>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}