.ourvaluespan {
    color: #62646C;
    font-weight: 700;

}

.ourvaluespan::before {
    content: '\2022';
    margin-right: 5px;
}

#OurValue {
    margin-top: 80px;
}
.ourvaluepara{
    color: #8A8C98;
    font-size: 15px;
    line-height: 2;
}
#Photo{
    width: 90%;
    height: 250px;
}
