.Shareclass{
    padding-left: 65%;
}
#row{
    margin: 00px;
    padding: 00px;
}
#OurExpertise{
    margin-top: 100px;
}
#OurExpertise>div>p{
    color: #8A8C98;
}
.color {
    background-color: #8DC63F;
    ;
    height: 1px;
    width: 90px;
    border: 1px solid #8DC63F;
    border-radius: 10px;
}
#ImageSection{
    margin-top: 50px;
    padding: 00px;
}
#ImageSection>div>img{
    width: 100%;
    height: 100%;    
}
#ImageSectionpart01{
    padding: 00px;
    margin: 00px;
}
#ImageSectionpart02{
    padding: 00px;
    margin: 00px;
}
  